z.ignore/*
hardware/*
CommTest/*
SCADA/CommTest/*
RedBoard/Debug/*
RedBoard/Visual Micro/*
ProMini/Debug/*
ProMini/Visual Micro/*
libraries/Debug/*
SCADA/SCADA/bin/*
SCADA/SCADA/obj/*
*.opensdf
*.suo
*.atsuo
*.sdf
OldPLC.txt