*.sublime-project
*.sublime-workspace
RaspberryPi/SCADA/sftp-config.json
*.idea
*.pyc
z.ignore/*
hardware/*
PLC/Debug/*
PLC/Visual Micro/*
libraries/Debug/*
*.atsln
*.atsuo
*.cppproj
*.vcxproj
*.filters
*.user
*.sdf
*.suo
*.sln
*.opensdf